@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-gray-800;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 8px;
}